img {
  height: 500px;
  width: 500px;
  border: 3px solid brown;

}

h1 {
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}

p {
  font-size: 20px;
  font-family: arial;
  text-align: justify;
}

a {
  font-size: 16px;
  font-family: verdana;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 15px;
  color: white;
  background-color: brown;
  border-radius: 25px;
}
body{
  text-align: center;
  margin: 30px auto;
}
